
@font-face {
    font-family: 'Raleway';
    src: url(Polices/Raleway-Black.ttf)
         url(Polices/Raleway-BlackItalic.ttf)
         url(Polices/Raleway-Bold.ttf)
         url(Polices/Raleway-BoldItalic.ttf)
         url(Polices/Raleway-ExtraBold.ttf)
         url(Polices/Raleway-ExtraBoldItalic.ttf)
         url(Polices/Raleway-Regular.ttf)
         url(Polices/Raleway-ExtraLight.ttf)
         url(Polices/Raleway-ExtraLightItalic.ttf)
         url(Polices/Raleway-Italic.ttf)
         url(Polices/Raleway-Medium.ttf)
         url(Polices/Raleway-LightItalic.ttf)
         url(Polices/Raleway-MediumItalic.ttf)
         url(Polices/Raleway-SemiBold.ttf)
         url(Polices/Raleway-SemiBoldItalic.ttf)
         url(Polices/Raleway-Thin.ttf)
         url(Polices/Raleway-ThinItalic.ttf)
}
body{
    font-family: 'Raleway';
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo
{
    display: flex;
    margin:15px 10px 10px 35px;
}

#logo img
{
    width: 123px;
    height: 55px;
}

h1
{
    
    font-size: 1.8em;
    font-weight: bold;
    margin: 15px 10px 10px 35px;
}

h2
{
    
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    margin: 15px 10px 20px 35px;
}
nav
{
    display: flex;
    flex-direction: row;
}

nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav li a
{
text-decoration: none;
color: blue;
}
a:hover
{
color: red;
}

footer ul
{
   list-style-type: none;
   margin-right:20%;  
}
footer a
{
    text-decoration: none;
    color: black;
}
footer
{
    display:flex;
    background-color:#F2F2F2 ;
}
.footertitle
{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

