
@font-face {
    font-family: 'Raleway';
    src: url(Polices/Raleway-Black.ttf)
         url(Polices/Raleway-BlackItalic.ttf)
         url(Polices/Raleway-Bold.ttf)
         url(polices/Raleway-BoldItalic.ttf)
         url(Polices/Raleway-ExtraBold.ttf)
         url(Polices/Raleway-ExtraBoldItalic.ttf)


}

/* Header */
body{
    font-family: 'Raleway';
}
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo
{
    display: flex;
    padding-bottom: 15px;
}

#logo img
{
    width: 125px;
    height: 55px;
}

h1
{
    
    font-size: 1.8em;
    font-weight: bold;
    margin: 3px 0 3px 1px;
}

h2
{
    
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
nav
{
    display: flex;
    flex-direction: row;
}

nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav li a
{
text-decoration: none;
}

footer ul
{
   list-style-type: none;
   margin-right:20%;  
}
footer a
{
    text-decoration: none;
}
footer
{
    display:flex;
}

